h1 {
    border-bottom: 1px dashed rgb(0, 0, 0);
    color: brown;
    /*Kleinbuchstaben als kleine Großbuchstaben darstellen*/
    font-variant: small-caps;
    color: steelblue;
}
.date {     
    font-weight: bold; color: red;
}
